* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 400;
}

body {
  display: flex;
}

.main-container {
  width: 100%;
}

.navbar {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar-logo {
  height: 44px;
  width: 162px;
}
.navbar a {
  color: black;
  position: absolute;
  left: 17px;
}

.footer {
  width: 100%;
  padding: 22px 25px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
}
.footer-item {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.footer-item-container {
  display: flex;
  flex-direction: column;
}
.footer-item:not(:last-child) {
  margin-bottom: 7px;
}
.footer-item:nth-child(-n+2) {
  font-weight: 700;
}
.footer-item .fa-solid {
  margin-right: 10px;
  width: 20px;
}

.search {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-logo {
  margin-right: 17px;
}
.search-logo .fa-solid {
  height: 16px;
  display: flex;
  align-items: center;
  color: #353535;
}
.search-input {
  background-color: #EAEAEA;
  color: #353535;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 109px;
}

.btn {
  padding: 16px 13px 16px 13px;
  color: white;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
}
.btn-primary:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.intro {
  padding: 40px 20px 40px 20px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.intro-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.intro-content {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
.intro .btn {
  margin-top: 27px;
}

.working {
  padding: 48px 20px 68px 20px;
}
.working-card {
  display: flex;
  position: relative;
  align-items: center;
  width: 98%;
  margin-left: 13px;
  height: 73px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.working-card:not(:last-child) {
  margin-bottom: 25px;
}
.working-card-number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  display: flex;
  left: -13px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.working-card-icon .fa-solid {
  color: #7E7E7E;
  margin-right: 27px;
  margin-left: 35px;
  display: flex;
  align-items: center;
}
.working-card-icon .fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 48px 20px 68px 20px;
  background-color: #F6F6F6;
}
.restaurants-card {
  border-radius: 15px 15px 15px 15px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: black;
}
.restaurants-card:not(:last-child) {
  margin-bottom: 18px;
}
.restaurants-card-header {
  position: relative;
}
.restaurants-card-header .popup {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13px;
  margin-right: 13px;
  padding: 7px 9px 7px 9px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 700;
  font-size: 14px;
}
.restaurants-card-image {
  height: 231px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants-card-container {
  display: flex;
  flex-direction: column;
}
.restaurants-card-info {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 12px;
  margin-top: 16px;
  position: relative;
}
.restaurants-card-info-content .text {
  font-size: 17px;
  font-weight: 300;
}
.restaurants-card-icon {
  margin-right: 10px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.restaurants-card-icon img {
  position: absolute;
  cursor: pointer;
}
.restaurants-card-icon .heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
}
.restaurants-card-icon .heart-full:hover {
  opacity: 1;
  background-clip: text;
}

.font-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
}

.font-title2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
  color: black;
}

.font-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.font-subtitle2 {
  font-size: 16px;
  font-weight: 30;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.font-subtitle3 {
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.font-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.menu-header {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  padding-top: 32px;
  padding-bottom: 40px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  margin-top: -40px;
  background-color: #F6F6F6;
}
.menu-card-header {
  position: relative;
}
.menu-card-section {
  margin-top: 42px;
}
.menu-card-section-underline {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-bottom: 12px;
}
.menu-card-article {
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
  position: relative;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu-card-article:hover .menu-card-selected {
  display: flex;
  animation: Slide 350ms linear 0s 1 normal backwards;
}
.menu-card-article:hover .menu-card-article-content {
  margin-right: 60px;
  transition: 0.5s ease;
}
.menu-card-article:not(:last-child) {
  margin-bottom: 12px;
}
.menu-card-article-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 13px 15px;
  overflow: hidden;
}
.menu-card-article-content .text {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card-article-content .price {
  font-size: 15px;
  font-weight: 700;
}
.menu-card-article-info {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  overflow: hidden;
}
.menu-card-selected {
  background-color: #99E2D0;
  width: 60px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.menu-card-selected i {
  animation: Rotation 0.7s ease 0s 1 normal none;
}
.menu-card-selected .fa-circle-check {
  color: #FFFFFF;
}
.menu-card-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.menu-card-btn .btn {
  padding: 16px 49px;
}

.menu-card-section {
  animation: Fade 1.5s ease 0s 1 normal forwards;
  opacity: 0;
}
.menu-card-section:nth-child(1) {
  animation-delay: 0s;
}
.menu-card-section:nth-child(2) {
  animation-delay: 0.5s;
}
.menu-card-section:nth-child(3) {
  animation-delay: 1s;
}

@keyframes Fade {
  0% {
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Slide {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@media screen and (min-width: 1024px) {
  .working {
    padding-left: 180px;
    padding-right: 180px;
  }
  .working-card-container {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  .working-card:not(:last-child) {
    margin-right: 24px;
  }
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
  .restaurants-card-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
  }
  .restaurants-card {
    width: 47%;
  }
  .restaurants-card:any-link {
    margin-bottom: 18px;
  }
  .footer {
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer-item:any-link {
    margin-bottom: 0px;
  }
  .footer-item {
    margin-right: 20px;
  }
  .footer-item-container {
    display: flex;
    flex-direction: row;
  }
  .footer-title {
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .menu {
    padding-right: 210px;
    padding-left: 210px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-card-header .restaurants-card-icon {
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 25px;
  }
  .font-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}

/*# sourceMappingURL=main.css.map */
