.navbar
    height: 63px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &-logo
        height: 44px
        width: 162px
    & a
        color: $font-color
        position: absolute
        left: 17px
